.max{background-color: rgb(253, 253, 255);}
.max{width: 100%;}
.max{border-right: 7px rgb(217, 255, 0) solid;}
.max{border-left: 7px rgb(217, 255, 0) solid ;}
.max{border-top: 7px rgb(217, 255, 0) solid;}
.max{border-bottom: 7px rgb(217, 255, 0) solid;}
body{background-color: rgb(241, 243, 122);}